<div id="navBar">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/vendors">Vendors</a></li>
      <li role="presentation"><a href='/vendors/new'>Add Vendor</a></li>
    </ul>
  </div